doctype html

html(lang="en")
head
  title Static Result
  script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js")
  script(src="https://www.gstatic.com/charts/loader.js")
  script(src="/js/main.js")
body
  h1
    I am the homepage
  a(href='/result' id='show') show result test
  div#result
  div#chart
