<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/homepage.js"></script>

</head>
<body>

<h1>LAB116 GP6 AS2 WEB APP</h1>
<a href="/" id="show_overall">switch to overall page</a><br>
<a href="/" id="show_individual">switch to individual page</a><br>
<div id="show_page"></div>

</body>
</html>
