<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/IndividualResult.js"></script>

</head>
<body>
<h2>This is IndividualResult page</h2>
Your query title is: <div id="user_query_title"><%=user_query_title%></div>
<div id="individual_result"></div>

</div>
</body>
</html>