<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/individual.js"></script>

</head>
<body>
<div id="individual_page">
    <h2>Choose the Title to Have the Query</h2>
    <div id="drop_down_list"></div>
    <button type="button" id="query_button">Check the information about this title</button>
</div>
</body>
</html>
