<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/IndividualResult.js"></script>

</head>
<body>
<h2>This is IndividualResult page</h2>
Your query title is: <div id="user_query_title"><%=user_query_title%></div><br>
<div id="individual_result"></div><br>
<div id="top_five_table"></div><br>

<a href="/" id='bar_chart'>show bar chart</a>
<a href="/" id='pie_chart'>show pie chart</a>
<a href="/" id='select_user_chart'>show chart with specific user</a><br>

<div id="indi_chart_result"></div><br>

</body>
</html>