<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/individual.js"></script>

</head>
<body>
<h2>This is individual result</h2>

<a href="/" id='show'>show individual result</a>
<div id="result"></div>

</body>
</html>
