<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/overall.js"></script>

</head>
<body>
<h2>This is overall result</h2>

<a href="/" id='show'>show overall result</a>
<div id="result"></div>

<div id="chart_one_result" style="width: 800px; height: 500px;"></div>

</body>
</html>
