<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/overall.js"></script>

</head>
<body>
<h2>Overall Data Set Statistic Result</h2>
<div id="showMostNumOfRev"></div><br>
<div id='showLeastNumOfRev'></div><br>
<%# Overall task 3: The article edited by largest group of registered users %>
<div id='showArticleLargestRegUser'></div><br>
<%# Overall task 4: The article edited by smallest group of registered users %>
<div id='showArticleSmallestRegUser'></div><br>
<%# Overall task 5: The article with the longest history %>
<div id='showArticleLongestHistory'></div><br>
<%# Overall task 6: The article with the shortest history %>
<div id='showArticleShortestHistory'></div><br>

<a href="/" id='bar_chart'>Show Bar Chart</a><br>
<a href="/" id='pie_chart'>Show Pie Chart</a><br>

<div id="chart_result" style="width: 800px; height: 500px;"></div>


</body>
</html>
