<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="/js/OverallBarChartPage.js"></script>

</head>
<body>
<h3>Bar Chart of Revision Number Distribution</h3>

<div id="chart_result_page" style="width: 800px; height: 500px;"></div>


</body>
</html>
