<!DOCTYPE html>
<html>
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/UpdateResult.js"></script>

</head>
<div>
This is UpdateResult<br>
Your query title is: <div id="update_query_title"><%=user_query_title%></div><br>
<div id="update_result"></div><br>
<div id="continue_ref"></div>

</body>
</html>
