<!DOCTYPE html>
<html>
<head>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="/js/UpdateResult.js"></script>

</head>
<body>
This is UpdateResult<br>
Your query time (GMT) is: <div id="update_query_timestamp"><%=user_query_timestamp%></div><br>
Your query title is: <div id="update_query_title"><%=user_query_title%></div><br>
<div id="update_result"></div><br>
<div id="continue_ref"></div>
<div id="update_show"><a href="/a">show individual result</a></div>

</body>
</html>
